// Import page-specific CSS files here.
@import "home";

// background-color vert fluo: #35ee25;
// autre vert #1cc87c
.partial-form {
  color: #1cc87c;
  font-weight: bold;
  margin-top: 2%;
  padding: 4%;
  border: 3px solid;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-color: #34f32e;
  border-radius: 40px 10px;
  .title{
    margin-bottom: 4%;
    color: #34F32E;
    text-align: center;
  }
  input[type="submit"].btn-submit {
    background-color: #34F32E;
    margin-top: 32px;
    padding: 8px;
    border-radius: 12px;
    color: purple;
    font-weight: bold;
  }
}

.partial-btn-submit{
  display: flex;
  justify-content: center;
}

.form.container h1 {
  font-size: 42px;
}
