// Import page-specific CSS files here.
@import "home";

.my_infos {
  border: 3px solid;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-color: #34f32e;
  border-radius: 40px 10px;
  color: white;
  width: 400px;
  display: grid;
  grid-template-columns: 1fr;
}
.profil-avatar {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.names h2 {
  color: white;
}
.orders-title h2 {
  color: white !important;
}
.my_infos .user-item {
  justify-self: start;
  padding: 10px;
}
