// Import page-specific CSS files here.
@import "home";

.jersey-image img {
  width: 550px;
  border-radius: 15px;
  border: solid 5px;
  border-color: #35ee25;
}

.booking {
  width: 550px;
  margin-left: 100px;


  .booking-card {
    border: 3px solid;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-color: #34f32e;
    border-radius: 40px 10px;
    box-shadow: 0 2px 4px;
    color: #ffffff;
    padding: 20px;
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 50px;
  }
  .total-price-bloc {
    position: absolute;
    bottom: 0;
    border-top: solid;
    width: 360px;
    border-color: #34f32e;
  }
  .booking-button {
    margin-top: 80px;
  }
  input[type="date"] {
    border: solid;
    border-color: #34f32e;
    border-radius: 15px;
    box-shadow: 0 2px 4px;
    padding: 10px;
  }
}

.jersey-card {
  margin-left: 125px;
}

.jersey-infos {
  display: flex;
  justify-content: space-evenly;
}

.infos-item {
  color: #34f32e !important;
  border: solid;
  border-color: #34f32e;
  background-color: #222;
  border-radius: 15px;
  box-shadow: 0 2px 4px;
  color: #ffffff;
  padding: 10px;
}

.description {
  border: 3px solid;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-color: #34f32e;
  border-radius: 40px 10px;
  box-shadow: 0 2px 4px;
  color: #ffffff;
  padding: 20px;
  width: 400px;
  font-size: 12px;
  margin-top: 70px;
}
.stars {
  color: #34f32e;
}
.container.show h1 {
  font-size: 42px;
}
