<div class="container mt-3"  >
  <h1>ALL MY ORDERS <% @orders.count %> </h1>
  <div class="search_order">
    <%= render 'pages/search_order' %>
  </div>
  <div class="order_list">
    <% current_user.orders.order(id: :desc).each do |order|%>
      <%= render 'pages/order_card', order: order %>
    <% end %>
  </div>
