<div class="container text-center">
  <div class="title d-flex justify-content-center my-5">
    <h1>My orders ( <%= current_user.orders.count %> )</h1>
  </div>
  <div class="search_order">
    <%= render 'pages/search_order' %>
  </div>
  <div class="order_list">
    <% current_user.orders.each do |order|%>
      <%= render 'pages/order_card', order: order %>
    <% end %>
  </div>
</div>
