<div class="container">
 <div class="wrapper">
   <div class="banner image">
   <img src="<%= jersey.photo %>"class="photo maillot" widht="203" height="309"/>
   </div>
   <h1><%= jersey.team %></h1>
   <p><%= jersey.description %></p>
  </div>
  <div class="button-wrapper">
  <button class="btn outline">DETAILS</button>
    <button class="btn fill">BUY NOW</button>
  </div>
    </div>
</div>
