
<div class="container mt-3 ">
  <h1>HOT MAILLOT SAUCE</h1>

    <div class="maillot-card">
        <img src= "https://cdn.midjourney.com/b7d82fab-6cc7-4e6d-81e7-13558f628fd5/grid_0.png" width="320" height=518.095 />
      <div class="card-trip-infos">
        <div>
          <h2>Hot maillot</h2>
          <p>Short description here!</p>
        </div>
          <h2 class="maillot-card-price">£99.99 / Day</h2>
          <img src="" class="avatar-seller" />
      </div>
    </div>



</div>
