<div class="container mt-3"  >
  <div class="title d-flex justify-content-center my-5">
    <h1>MY SHOP (<%= @jerseys.count %> )</h1>
  </div>
  <%= render 'jerseys/search'%>
  <div class="container card text-center">
    <% @jerseys[0..20].each do |jersey| %>
      <%= link_to jersey_path(jersey) do %>
        <%= render 'jerseys/card', jersey: jersey %>
      <% end %>
    <% end %>
  </div>
</div>
