<div class="container mt-3"  >
  <h1>ALL MY JERSEYS ( <%= @jerseys.count %> )</h1>
  <%= render 'jerseys/search'%>
  <div class="container card text-center">
    <% @jerseys[0..20].each do |jersey| %>
      <%= link_to jersey_path(jersey) do %>
        <%= render 'jerseys/card', jersey: jersey %>
      <% end %>
    <% end %>
  </div>
</div>
