<h1>Location maillots vintages</h1>

<div class="image"></div>

<%= image_tag "Pelé_Brésil.jpg",style: 'height:20vw;width:20vw;margin-bottom:20px;' %>

<p>Réserver votre maillot de Pelé du Brésil</p>
